.header-container {
  text-transform: uppercase;
  display: flex;
  background-color: rgb(13, 146, 199);

  align-items: center;
  justify-content: space-between;
}
.nav-bar {
  display: flex;
  align-content: space-between;
  justify-content: space-around;
  font-size: xx-small;
}
h1 {
  padding: 20px 20px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo-png {
  background-image: url("./13-2-home-png-hd.png");
  height: 80px;
  width: 80px;
  padding-right: 10px;
  background-size: cover;
}
h1:hover {
  color: whitesmoke;
}
.link {
  color: inherit;
  text-decoration: none;
}
